fastapi
python-dotenv==1.0.0; python_version >= '3.8'
sqlalchemy[asyncio]
asyncpg
psycopg
bootstrap-flask==2.3.3
flask==3.0.0; python_version >= '3.8'
flask-babel==4.0.0; python_version >= '3.8' and python_version < '4.0'
flask-bcrypt==1.0.1
flask-debugtoolbar==0.14.1; python_version >= '2.7'
flask-login==0.6.3; python_version >= '3.7'
flask-migrate==4.0.5; python_version >= '3.6'
flask-sqlalchemy==3.1.1; python_version >= '3.8'
flask-wtf==1.2.1; python_version >= '3.8'
